.menu {
    height: 100px;
    padding: 10px 0px 10px 10px;
    margin: 0;
    box-shadow: 0px 1px 4px 0px rgba(73, 73, 73, 0.73);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_dark {
    background-color: rgb(19, 18, 19);
    color: #546de5;
}

.menu_light {
    background-color: #546de5;
    color: rgba(255, 255, 255);
}

/* .menu_toggle_dark.react-toggle--checked.react-toggle-track {
    background-color: #546de5 !important;
    color: rgba(255, 255, 255);
}

.menu_toggle_light.react-toggle--checked.react-toggle-track {
    background-color: rgb(19, 18, 19) !important;
    color: #546de5;
} */

.menu_toggle_dark.react-toggle--checked .react-toggle-track {
    background-color: rgb(48, 48, 48);
}
.menu_toggle_dark.react-toggle--checked .react-toggle-thumb {
    background-color: #FFFFFF;
    border-color: rgb(19, 18, 19);
}
.menu_toggle_dark.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #546de5;;
}

.menu_presentation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 50%;
}

.menu_presentation__logo {
    font-size: 3rem;
    margin: 15px;
    cursor: pointer;
}

.menu_presentation__rightsubmenu {
    padding: 10px;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_presentation__rightsubmenu_links {
    display: flex; 
    margin-right: 20px;
}